<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <div>
    <label for="team_name">Team Name:</label>
    <input type="text" id="team_name" name="team[name]"/>
  </div>
  <div>
    <label for="team_motto">Team Motto:</label>
    <input type="text" id="team_name" name="team[motto]"/>
  </div>

  <h2>Hero 1</h2>
  <div>
    <label for="member1_name">Hero Name:</label>
    <input type="text" id="member1_name" name="team[heroes][][name]"/>
  </div>
  <div>
    <label for="member1_power">Hero Power:</label>
    <input type="text" id="member1_power" name="team[heroes][][power]"/>
  </div>
  <div>
    <label for="member1_bio">Hero Bio:</label>
    <input type="text" id="member1_bio" name="team[heroes][][bio]"/>
  </div>

  <h2>Hero 2</h2>
  <div>
    <label for="member2_name">Hero Name:</label>
    <input type="text" id="member2_name" name="team[heroes][][name]"/>
  </div>
  <div>
    <label for="member2_power">Hero Power:</label>
    <input type="text" id="member2_power" name="team[heroes][][power]"/>
  </div>
  <div>
    <label for="member2_bio">Hero Bio:</label>
    <input type="text" id="member2_bio" name="team[heroes][][bio]"/>
  </div>

  <h2>Hero 3</h2>
  <div>
    <label for="member3_name">Hero Name:</label>
    <input type="text" id="member3_name" name="team[heroes][][name]"/>
  </div>
  <div>
    <label for="member3_power">Hero Power:</label>
    <input type="text" id="member3_power" name="team[heroes][][power]"/>
  </div>
  <div>
    <label for="member3_bio">Hero Bio:</label>
    <input type="text" id="member3_bio" name="team[heroes][][bio]"/>
  </div>

  <div>
    <input type="submit" id="submit">
  </div>
</form>